<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.alarmmusic" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".DaybreakApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="alarmmusic.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.main.alarm" />

        <activity
            android:name=".ui.AlarmListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >

        </activity>
        <activity android:name=".ui.EditAlarmActivity" >
        </activity>
        <activity
            android:name=".ui.AlarmActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" >
        </activity>

        <receiver android:name=".receivers.AlarmReceiver" />
        <receiver android:name=".receivers.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MusicActivity"
            android:label="@string/title_activity_prayer" >
        </activity>
    </application>

</manifest>
